body 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 550px;
	height: 550px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

p 
{
	margin: 0;
	padding: .5em;
    text-align: center;	
}

a
{
	color: black;
	font-family: Ink Free;
	font-size: 30px;
	font-weight: bold;
}

		
				
				
				
				
				
				
				
				
				
				
				